/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

/* Variables */
:root {
  --brand-green: #00856f;
  --brand-green-light: #dce9e2;
  --brand-green-hover: #00453a;
  --brand-beige: #fffaf1;
  --white: #ffffff;
  --gray-headline: #061800;
  --gray-paragraph: #384633;
}

/* Core styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
}

ul {
  list-style: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.primary__button {
  padding: 16px 32px;
  color: var(--white);
  background-color: var(--brand-green);
  border-radius: 40px;
  border: 1px solid var(--brand-green);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  color: var(--white);
  cursor: pointer;
  transition: all 1s ease-in-out;
}

.primary__button:hover {
  background-color: var(--brand-green-hover);
  color: var(--white);
  border-color: var(--brand-green-hover);
}

.secondary__button {
  padding: 10px 24px;
  border: 1px solid var(--brand-green);
  color: var(--brand-green);
  border-radius: 40px;
  font-size: 14px;
  line-height: 18.23px;
  text-transform: uppercase;
  background-color: transparent;
  font-weight: 600;
  cursor: pointer;
  transition: all 1s ease-in-out;
}

.secondary__button:hover {
  background-color: var(--brand-green);
  color: var(--white);
}

/* Header styles */
.header {
  padding: 16px 0;
  background-color: var(--brand-green-light);
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__navigation-list {
  display: flex;
  align-items: center;
  gap: 28px;
}

.header__navigation-item.active {
  font-weight: 600;
}

.header__navigation-link {
  text-decoration: none;
  font-size: 17px;
  line-height: 21px;
  color: var(--brand-green);
  opacity: 80%;
}

/* Hero styles */
.hero {
  background-color: var(--brand-green-light);
}

.hero__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__subtitle {
  color: var(--brand-green);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 8%;
  margin-bottom: 10px;
}

.hero__title {
  font-size: 50px;
  line-height: 64px;
  font-weight: 700;
  color: var(--gray-headline);
  margin: 20px 0;
}
.hero__description {
  font-size: 18px;
  line-height: 27px;
  color: var(--gray-paragraph);
  margin: 20px 0;
  font-weight: 400;
}
.hero__button {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* Stastics styles */
.stats__wrapper {
  display: flex;
}
